@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1300px)
	.section_services
		.header_img
			.col_left
				padding-left: 25px
				padding-right: 25px
			.col_right
				padding-right: 25px
				padding-left: 25px

	.section_current_groups
		.col_data
			#groups_contact
				padding-right: 40px
				margin-left: 40px
				max-width: 386px
		.col_description_groups
			padding-left: 40px
	.groups_slider
		.foto_groups
			padding-left: 0
			padding-right: 0
			text-align: center
			img
				display: inline-block
	.list_poster 
		.poster 
			.item_poster
				padding-left: 15px
		.poster.col_right.poster 
			.item_poster
				padding-right: 15px
		.col_center
			.descriotion_block
				&:after
					margin-left: 0
			.btn_filter
				&:after
					margin-left: 0
	.current_poster 
		.poster_data 
			.RL
				&:after
					display: none
				.item_date
					display: inline-block
					width: 40%


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.section_content 
		.poster .item_poster 
			.wrap_img
				margin-bottom: 18px
				max-width: 100%
				float: none
	.page_news 
		.row_news 
			.item_news
				margin-right: 0
	.page_news 
		.row_news:nth-child(2n) 
			.text_news 
				.item_news
					margin-left: 0
	.wrap_nav
		text-align: center
		.header_contact
			margin-top: 20px
			margin-left: 0
			.tel
				display: inline-block

		.icon_contact
			display: inline-block



/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.services_and_groups 
		.service 
			.wrap_service
				.service_text
					position: relative
		.groups 
			.wrap_groups
				.groups_text
					position: relative
	#carusel_photo_report
		.item_photo_report
			.photo_report_text
				position: relative
	.header_banner
		.wrap_banner
			.carusel
				.item_carusel
					.descript_baner
						position: relative

	.page_news 
		.row_news 
			.text_news
				height: 330px
	.current_news 
		.this_new 
			.item_news
				padding-right: 30px
				.wrap_img 
					img
						width: 100%
	.section_groups
		&:after
			display: none
		.item_groups
			width: 100%
			margin-left: 0
			padding-left: 15px
			padding-right: 15px
			&:nth-child(even)
				margin-left: 0
	.section_current_groups
		&:after
			display: none
		.col_data
			padding-bottom: 50px
			#groups_contact
				display: inline-block
				margin-left: 0
		.col_description_groups
			padding-bottom: 0px

	.current_poster
		&:after
			display: none
		.poster_data
			padding-bottom: 5px

	.contact_page 
		.item_contact 
			.phone 
				span
					display: block
					margin-bottom: 15px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.news
		height: auto !important
		padding-bottom: 105px !important
	.poster
		height: auto !important
		padding-bottom: 105px !important

	.services_and_groups 
		.service 
			.wrap_service 
					max-width: 100%

		.groups 
			.wrap_groups 
				.groups_text
					max-width: 100%

	#carusel_photo_report
		.item_photo_report
			.photo_report_text
				position: absolute

			
	.page_news
		.row_news
			.text_news
				height: auto
				&:before
					display: none
			.wrap_img
				padding-bottom: 0
				padding-right: 0
				img
					max-width: 100%
			.item_news
				margin-left: 0
			&:first-child
				.wrap_img
					padding-top: 45px
				.item_news
					padding-top: 20px
			&:nth-child(2n)
				.img_news
					float: none
					&:before
						display: none
					.wrap_img
						padding-left: 0
						padding-bottom: 0
						text-align:: left 
				.col_border_right
					border-right: none
				.text_news
					border-right: solid 1px #E6E6E6
					text-align: left
					.item_news
						margin-right: 20px 
						margin-left: 0px
					.date_news
						float: none
						margin-right: 0
						margin-left: 20px
	// .page_news 
	// 	.row_news 
	// 		.text_news
	// 			height: auto
	// 		.wrap_img
	// 			padding-right: 0
	// 			padding-bottom: 20px

	// .page_news
	// 	.row_news
	// 		&:nth-child(2n)
	// 			.img_news 
	// 				.wrap_img
	// 					padding-left: 0
	// 			.text_news
	// 				text-align: left
	// 				.date_news
	// 					float: none
	// 				.item_news
	// 					margin-left: 20px
	footer 
		.content_footer
			padding-bottom: 50px
			.name
				padding-top: 0
				margin-left: 0
				display: inline-block
			.footer_logo
				display: none
			.contact_footer
				margin-left: 0
				margin-bottom: 50px

	.section_services
		&:after
			display: none
		.header_img
			.col_left
			.col_right
		.service_content
			.hall
				margin-top: 20px
				margin-bottom: 20px
				text-align: left
			.big_hall
				margin-top: 70px
				.caption
					&:after
						left: 0
			.little_hall
				.caption
					&:after
						left: 0
				.num
					padding-left: 0
			.dance_hall
				.caption
					&:after
						left: 0
				.num
					margin-left: 0

	.current_poster
		.poster_data
			.wrap_img
				.full_img
					width: 100%
					margin-bottom: 25px
				.poster_img
					width: 100%

	.contact_page
		&:after
			display: none
		.col_right 
			padding-top: 0
		.col_left
			padding-bottom: 0

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	#carusel_photo_report
		.item_photo_report
			.photo_report_text
				position: relative
	footer
		.content_footer 
			.name
				width: 100%
			.footer_logo
				display: none
	.section_groups
		.item_groups
			.descript_groups
				position: relative
	.section_current_groups
		&:after
			display: none
		.col_data
			#groups_contact
				.phone, .address, .training
					font-size: 20pt
				.training
					line-height: 27px
					.caption
						margin-bottom: 10px
	.current_poster
		.poster_data
			padding-bottom: 25px
			.item_date
				.cashbox
					position: relative
					margin-right: 45px
					margin-left: 0
			.RL
				.item_date
					display: block
					margin-right: 0
					width: 100%




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

