@import "bourbon"
@import "vars"
@import "libs"

.caption
	font-family: HeuristicaRegular
	font-size: 14pt
	color: $text_color


a.themes_url
	color: $text_color
	text-decoration: none 
	&:after
		content: ""
		position: absolute
		right: 0
		width: 19px
		background-color: #000
		height: 2px
		display: block
		// margin-top: -12px
		transition: all ease .5s
	&:hover
		&:after
			width: 100%
			margin-left: 0


.header_banner
	background-color: #F2F2F2
	border-top: solid 68px #fff
	.wrap_banner
		margin-top: -68px
	.carusel
		width: 100%
	.item_carusel
		position: relative
		width: 100%
		img
			width: 100%
		.descript_baner
			max-width: 813px
			width: 100%
			height: 172px
			background-color: #F2F2F2
			position: absolute
			bottom: 0
			padding: 25px 75px
			line-height: 49px
			.caption
				font-size: 33.228pt
			.date_banner
				color: #999
				font-family: HeuristicaRegular
				font-size: 14pt
				display: inline-block
				margin-right: 35px
			.url_banner
				font-family: OpenSansRegular
				text-transform: uppercase
				display: inline-block
				position: relative
				a.themes_url
					&:after
						margin-top: -12px

.footer_block
	background-color: #F2F2F2
	padding: 38px 30px
	text-align: right
	margin-left: 20px
	margin-right: 20px
	width: 83%
	a
		color: #000
		text-transform: uppercase
		font-family: OpenSansRegular
		font-size: 10pt
		text-decoration: none
		position: relative
		&:after
			content: ""
			display: block
			width: 5%
			margin-left: 95%
			background-color: #000
			height: 2px
			// position: absolute
			right: 0
			transition: all ease .5s
		&:hover
			&:after
				width: 35%
				margin-left: 65%

.col_content
		.descriotion_block
			font-family: OpenSansRegular
			font-size: 14pt
			color: $text_color
			font-weight: bold
			margin-top: 50px
			margin-bottom: 50px
			margin-left: 20px
			span
				font-weight: normal
				font-size: 10pt
				color: #B3B3B3
				margin-right: 15px

.section_content
	.news
		border-left: solid 1px #E6E6E6
	.poster
		position: relative
		padding-bottom: 105px
		.item_poster
			padding-left: 15px
			padding-right: 15px
			margin-bottom: 45px
			height: auto;
			min-height: 180px;
			.wrap_img
				max-width: 256px
				float: left
				display: block
				margin-right: 18px
				img
					width: 100%
			.caption
				display: inline-block
			.date_poster
				font-family: HeuristicaRegular
				font-size: 14pt
				color: #999
				display: inline-block
				margin-left: 10px
			.description__poster
				font-family: OpenSansRegular
				font-size: 10.5pt
				color: #666
				margin-top: 10px
		.footer_block
			position: absolute
			bottom: 0
			margin-left: 5.5%
	.news
		position: relative
		padding-bottom: 105px
		.item_news
			margin-left: 20px
			margin-top: 20px
			.wrap_text
				height: 38px
			&:nth-last-child(2)
				margin-bottom: 55px
				&:after
					height: 0
			&:after
				content: ""
				width: 160px
				height: 1px
				background-color: #E6E6E6
				display: block
				margin-top: 25px
			.caption
				margin-bottom: 15px
			.date_news
				font-family: OpenSansRegular
				font-size: 10pt
				color: #999
				display: inline-block
				margin-right: 20px
			a
				display: inline-block
				font-family: OpenSansRegular
				font-size: 10pt
				text-transform: uppercase
				color: transparent
				text-decoration: none
				padding: 9px 15px 9px 15px
				border-radius: 0 10em 10em  10em
				background-color: transparent
				width: 1px
				height: 1px
				// transition: all ease 1s
				transition-property:  color, width, height,background-color ;
				transition-duration: .6s,.5s, .6s;
				transition-timing-function: ease;
			&:hover
				a
					width: 99px
					background-color: #E6E6E6
					height: 39px
					color: $text_color
		.footer_block
			position: absolute
			bottom: 0
			margin-left: 5.5%


.services_and_groups
	.service
		padding-top: 87px
		padding-left: 30px
		padding-right: 30px
		.wrap_service
			.wrap_img
				position: relative
				img
					width: 100%
			.service_text
				position: absolute
				bottom: 0
				width: 100%
				max-width: 340px
				padding: 15px 10px
				display: block
				background-color: #fff
				.caption
					font-size: 16pt
				.wrap_url
					position: relative
					display: inline-block


	.groups
		border-left: solid 1px #E6E6E6;
		padding-top: 87px
		padding-left: 30px
		padding-right: 30px
		.wrap_groups
			.wrap_img
				position: relative
				img
					width: 100%
			.groups_text
				position: absolute
				bottom: 0
				width: 100%
				max-width: 340px
				padding: 15px 10px
				display: block
				background-color: #fff
				.caption
					font-size: 16pt
					span
						font-size: 11pt
						font-family: OpenSansRegular
						color: #999
				.wrap_url
					position: relative
					display: inline-block
		

					


	


@import "media"
